<#import "admin.ftlh" as a>

<@a.adminPage>
    <form class="container-fluid" enctype="multipart/form-data" method="post" action="/addBook">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" type="text" required="true" name="title" id="title">
            <div class="invalid-feedback">
                Enter title!
            </div>
        </div>
        <div class="mb-3">
            <label for="language" class="form-label">Language</label>
            <input class="form-control" type="text" required="true" name="language" id="language">
            <div class="invalid-feedback">
                Enter language!
            </div>
        </div>
        <div class="mb-3">
            <label for="publicationDate">Publication date</label>
            <input type="date" class="form-control" required="true" name="publicationDate" id="publicationDate">
            <div class="invalid-feedback">
                Enter publication date!
            </div>
        </div>
        <div class="mb-3">
            <label for="authors">Authors</label>
            <input type="text" class="form-control" required="true" name="authors" id="authors">
            <div class="invalid-feedback">
                Enter publication date!
            </div>
        </div>
        <div class="mb-3">
            <label for="genres">Genres</label>
            <input type="text" class="form-control" required="true" name="genres" id="genres">
            <div class="invalid-feedback">
                Enter publication date!
            </div>
        </div>
        <div class="mb-3">
            <input class="form-control" type="file" name="multipartFile" id="multipartFile">
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </form>
</@a.adminPage>