<#import "admin.ftlh" as a>

<@a.adminPage>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Patronymic</th>
                <th>Birth date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <#list authors as author>
                <tr>
                    <td>${author.firstName}</td>
                    <td>${author.lastName}</td>
                    <td>${author.patronymic}</td>
                    <td>${author.birthDate}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <form method="post" action="#">
                                <button type="button" class="btn btn-warning">Edit</button>
                            </form>
                            <form method="post" action="/deleteAuthor/${author.id}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            <#else>
                No authors!
            </#list>
        </tbody>
    </table>
</@a.adminPage>